#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.tags {
	display: flex;
	gap: 10px;
	align-items: center;
}
.tags span {
	display: block;
	padding: 2px 12px;
	background-color: rgb(52, 146, 9);
	border-radius: 10px;
}
